.mainmenubtn {
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	padding:7px;
	margin-top:8px;
}
.mainmenubtn:hover {
	background-color: red;
	
}
.dropdown {
	position: relative;
	display: inline-block;
	
}
.dropdown-list {
	
	display: none;
	background-color: black;
	min-width: 99px;
	
}
.dropdown-list a {
	color: white;
	padding: 20px;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropdown-list {
	
	display: block;
	
	
}